    <div style="margin-top:40px">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue</strong>
					</div>
					<div class="panel-body">
						<form role="form" name=loginForm ng-submit="ctrl.onClick(loginForm.loginname.$viewValue,loginForm.password.$viewValue)">
							<fieldset>
								<div class="row">
									<div class="center-block">
										<div class="profile-img">
                                            <span style="font-size:5em;left:7px;" class="glyphicon glyphicon-globe"></span>
                                        </div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span>
												<input
                                                       class="form-control"
                                                       placeholder="Email Address"
                                                       name="loginname"
                                                       type="text"
                                                       autofocus
                                                       ng-model="ctrl.loginUser.email"
                                                    >
											</div>
										</div>
										<div class="form-group bottom-margin">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input
                                                       class="form-control"
                                                       placeholder="Password"
                                                       name="password"
                                                       type="password"
                                                       value=""
                                                       ng-model="ctrl.loginUser.pw"
                                                    >
											</div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="panel-footer ">
						Don't have an account! <a href="/register"> Sign Up Here </a>
					</div>
                </div>
			</div>
		</div>
	</div>
