<div class="col-md-offset-2 col-md-6">
<h2>Posts:</h2>
<hr />
<div
     ng-repeat="post in ctrl.posts"
     ng-show="post.title"
     class="entries">
    <h3
        class=lead
    ><a
        class="unstyle"
        ng-href="/post/{{ post.id }}"
    >{{ post.title }}</a>
    </h3>
    <h5>
        Added: {{ post.date_added | date:shortDate:'+0830' }}<br />
        By: {{ post.author }}<br />
        <small>Comments: {{ post.comments.length }}</small>

    </h5>
    <div>
        <span
              ng-repeat="tag in post.tags"
              ng-bind="tag"
              class="badge"
        ></span>
    </div>
    <button
            class="btn-xs btn btn-danger"
            ng-click="ctrl.deletePost(post)"
            ng-if="ctrl.isAuthenticated()
                        &&
                    !ctrl.current.is_public
                        &&
                    ctrl.current.id==post.author_id"
        >Delete</button>
    <hr class=short />
</div>
</div>
<div class=col-md-3>
<div ng-include='"static/partials/post-buttons.html"'></div>
</div>
