    <div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign up to continue</strong>
					</div>
					<div class="panel-body">
						<form role="form" name=registerForm ng-submit="ctrl.submitForm()">							<fieldset>
								<div class="row">
									<div class="center-block">
										<div class="profile-img">
                                            <span style="font-size:5em;left:7px;" class="glyphicon glyphicon-flag"></span>
                                        </div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span>
												<input
                                                       class="form-control"
                                                       placeholder="Email Address"                                                       name="loginemail"
                                                       type="text"
                                                       name="newuser_email"
                                                       ng-model="ctrl.newuser.email"
                                                       autofocus>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input 
												       class="form-control" 
												       placeholder="Password" 
												       name="password" 
												       type="password" 
												       ng-model=ctrl.newuser.password 
												       value=""
												>
											</div>
										</div>
                                        <div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input
                                                       class="form-control"
                                                       placeholder="Confirm"
                                                       name="confirm"
                                                       type="password"
                                                       value=""
                                                       
                                                    >
											</div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign up">
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="panel-footer ">
						Already have an account! <a href="/login"> Log in Here </a>
					</div>
                </div>
			</div>
		</div>
	</div>
